each fixture in fixtures
  li
    h5= fixture.name
    p= fixture.time+', '+fixture.location
    p.result

      if ( fixture.homeScore || fixture.homeScore === 0 ) && ( fixture.awayScore || fixture.awayScore === 0 )

        if fixture.pointsAvailable

          if (fixture.homeScore > fixture.awayScore)
            span.york
              | York +#{fixture.pointsAvailable} 

          else if (fixture.homeScore < fixture.awayScore) 
            span.durham
              | Durham +#{fixture.pointsAvailable} 

          else
            span.york
              | York +#{fixture.pointsAvailable/2} 
            |  &nbsp; 
            span.durham
              | Durham +#{fixture.pointsAvailable/2}

          |  &nbsp; 

        |(#{fixture.homeScore}&ndash;#{fixture.awayScore})

      else if fixture.pointsAvailable
        |#{fixture.pointsAvailable} points available
