extends layout

block content

  table#form
    thead
      tr
        th= "Name"
        th= "Time"
        th= "Where"
        th= "Points available"
        th= ""
        th= "Score"
        th= "Score"
        th= ""
    tbody
      each fixture in fixtures
        tr
          td
            input(
              type='text',
              id=fixture.id + '-name',
              value=fixture.name
              )
          td
            input(
              type='time',
              id=fixture.id + '-time',
              value=fixture.time
            )
          td
            input(
              type='text',
              id=fixture.id + '-location',
              value=fixture.location
            )
          td
            input(
              type='number',
              id=fixture.id + '-pointsAvailable',
              min='0',
              value=fixture.pointsAvailable
            )
          td
            input(
              type='text',
              id=fixture.id + '-home',
              placeholder='York',
              value=fixture.home
            )
          td
            input(
              type='number',
              id=fixture.id + '-homeScore',
              min='0',
              value=fixture.homeScore
            )
          td
            input(
              type='number',
              id=fixture.id + '-awayScore',
              min='0',
              value=fixture.awayScore
            )
          td
            input(
              type='text'
              id=fixture.id + '-away',
              placeholder='Durham',
              value=fixture.away
            )

  table#scoreboard
    thead
      tr
        th.york.
          York
        th.durham.
          Durham
    tbody
      tr
        td
          big.york#homeScore.
        td
          big.durham#awayScore.

  #progress
  
  script(src="./socket.io/socket.io.js")
  script(src="./javascripts/client.js")
    
