extends layout

block content

  table#form
    thead
      tr
        th= "Name"
        th= "Time"
        th= "Where"
        th= "Points available"
        th= ""
        th= "Score"
        th= "Score"
        th= ""
    tbody
      each fixture, index in fixtures
        tr
          td
            input(
              type='text',
              id='fixture-' + index + '-name',
              value=fixture.name
              )
          td
            input(
              type='time',
              id='fixture-' + index + '-time',
              value=fixture.time
            )
          td
            input(
              type='text',
              id='fixture-' + index + '-where',
              value=fixture.where
            )
          td
            input(
              type='number',
              id='fixture-' + index + '-pointsAvailable',
              min='0',
              value=fixture.pointsAvailable
            )
          td
            input(
              type='text',
              id='fixture-' + index + '-home',
              placeholder='York',
              value=fixture.home
            )
          td
            input(
              type='number',
              id='fixture-' + index + '-homeScore',
              min='0',
              value=fixture.homeScore
            )
          td
            input(
              type='number',
              id='fixture-' + index + '-awayScore',
              min='0',
              value=fixture.awayScore
            )
          td
            input(
              type='text'
              id='fixture-' + index + '-away',
              placeholder='Durham',
              value=fixture.away
            )
  
  script(src="/socket.io/socket.io.js")
  script.
    
    socket = io.connect('http://localhost:3000');

      var inputs = document.getElementById('form').getElementsByTagName('input');

      for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('input', function(e) {
          console.log(e);
          socket.emit('edit', [ this.id, this.value ]);
        });
      }

    socket.on('update', function(data) {
      console.log(data);
      document.getElementById(data[0]).value = data[1];
    });