extends layout

block content

  h1
    a(href='/tournaments') Tournaments
    /#{tournament.name}

  table#scoreboard
    thead
      tr
        th(class=tournament.home).
          #{tournament.home}
        th(class=tournament.away).
          #{tournament.away}
    tbody
      tr
        td(class=tournament.home)
          big#homeScore
        td(class=tournament.away)
          big#awayScore

  form(method='post' action='/tournaments/'+tournament.id+'/update')
    tbody
      each day in days
        table
          thead
            tr
            th(scope='col') Day
            th(scope='col') Time
            th(scope='col') Sport
            th(scope='col') Name
            th(scope='col') Where
            th(scope='col') Points available
            th(scope='col') 
            th(scope='col') Score
            th(scope='col') Score
            th(scope='col') 
          tbody
            each fixture in day
              tr
                td
                  input(
                    type ='text',
                    id   ='day-' + fixture.id,
                    name ='day-' + fixture.id,
                    value=fixture.day
                    )
                td
                  input(
                    type ='text',
                    id   ='time-' + fixture.id,
                    name ='time-' + fixture.id,
                    value=fixture.time
                  )
                td
                  input(
                    type ='text',
                    id   ='sport-' + fixture.id,
                    name ='sport-' + fixture.id,
                    value=fixture.sport
                    )
                td
                  input(
                    type ='text',
                    id   ='name-' + fixture.id,
                    name ='name-' + fixture.id,
                    value=fixture.name
                    )
                td
                  input(
                    type ='text',
                    id   ='location-' + fixture.id,
                    name ='location-' + fixture.id,
                    value=fixture.location
                  )
                td
                  input(
                    type ='number',
                    id   ='pointsAvailable-' + fixture.id,
                    name ='pointsAvailable-' + fixture.id,
                    min  ='0',
                    placeholder='0',
                    value=fixture.pointsAvailable
                  )
                td
                  input(
                    type ='text',
                    id   ='home-' + fixture.id,
                    name ='home-' + fixture.id,
                    placeholder=tournament.home,
                    value=fixture.home
                  )
                td
                  input(
                    type ='number',
                    id   ='homeScore-' + fixture.id,
                    name ='homeScore-' + fixture.id,
                    min  ='0',
                    step ='any',
                    value=fixture.homeScore
                  )
                td
                  input(
                    type ='number',
                    id   ='awayScore-' + fixture.id,
                    name ='awayScore-' + fixture.id,
                    min  ='0',
                    step ='any',
                    value=fixture.awayScore
                  )
                td
                  input(
                    type ='text'
                    id   ='away-' +fixture.id,
                    name ='away-' + fixture.id,
                    placeholder=tournament.away,
                    value=fixture.away
                  )
    input(type='submit' value='Save changes')

  script(src='http://www.nouse.co.uk/wp-includes/js/jquery/jquery.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/client.js')
