each fixture in fixtures
  li
    h5 
      | #{fixture.sport}
      if fixture.name && fixture.sport
        |  &ndash; 
      | #{fixture.name}

    if (fixture.time || fixture.location)
      p
        | #{fixture.time}
        if fixture.location && fixture.time
          | , 
        | #{fixture.location}

    p.result

      if ( fixture.homeScore || fixture.homeScore === 0 ) && ( fixture.awayScore || fixture.awayScore === 0 )

        if fixture.pointsAvailable

          if (fixture.homeScore > fixture.awayScore)
            span(class=tournament.home).
              #{tournament.home} +#{fixture.pointsAvailable} 

          else if (fixture.homeScore < fixture.awayScore) 
            span(class=tournament.away).
              #{tournament.away} +#{fixture.pointsAvailable} 

          else
            span(class=tournament.home).
              #{tournament.home} +#{fixture.pointsAvailable/2} 
            span(class=tournament.away).
              #{tournament.away} +#{fixture.pointsAvailable/2} 


        if (fixture.home && fixture.away)
          | (#{fixture.home} #{fixture.homeScore}&ndash;#{fixture.awayScore} #{fixture.away})
        else
          | (#{fixture.homeScore}&ndash;#{fixture.awayScore})

      else if fixture.pointsAvailable
        if fixture.pointsAvailable === 1
          | #{fixture.pointsAvailable} point available 
        else
          | #{fixture.pointsAvailable} points available 

        if (fixture.home && fixture.away)
          | (#{fixture.home} v #{fixture.away}) 
