each fixture in fixtures
  li
    h5 
      | #{fixture.sport}
      if fixture.name && fixture.sport
        |  &ndash; 
      | #{fixture.name}

    if (fixture.time || fixture.location)
      p
        | #{fixture.time}
        if fixture.location && fixture.time
          | , 
        | #{fixture.location}

    p.result

      if fixture.pointsAvailable
        if !fixture.inProgress && ( fixture.homeScore || fixture.homeScore === 0 ) && ( fixture.awayScore || fixture.awayScore === 0 )
          if (fixture.homeScore > fixture.awayScore)
            span(class=tournament.home).
              #{tournament.home} +#{fixture.pointsAvailable} 
          else if (fixture.homeScore < fixture.awayScore) 
            span(class=tournament.away).
              #{tournament.away} +#{fixture.pointsAvailable} 
          else
            span(class=tournament.home).
              #{tournament.home} +#{fixture.pointsAvailable/2} 
            span(class=tournament.away).
                #{tournament.away} +#{fixture.pointsAvailable/2} 
        else
          span.
            #{fixture.pointsAvailable} point#{(fixture.pointsAvailable === 1 ? '' : 's')} available 
      if ( fixture.homeScore || fixture.homeScore === 0 ) && ( fixture.awayScore || fixture.awayScore === 0 )
        if fixture.inProgress
          span.
            Currently #{fixture.home || tournament.home} #{fixture.homeScore}&ndash;#{fixture.awayScore} #{fixture.away || tournament.away}
        else
          span.
            #{fixture.home || tournament.home} #{fixture.homeScore}&ndash;#{fixture.awayScore} #{fixture.away || tournament.away}
      else if (fixture.home && fixture.away)
        | (#{fixture.home} v #{fixture.away})
